[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyodbc = "*"
bcrypt = "*"
flask-migrate = "*"
marshmallow = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask = "*"
flask-jwt-extended = "*"
flask-mail = "*"
python-dotenv = "*"
flask-socketio = "*"
python-socketio = {extras = ["client"], version = "*"}
requests = "*"
reportlab = "*"
flask-cors = "*"
colorama = "*"
eventlet = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.13"
